body {
  background-color: black;
  margin: 0;
  padding: 0;
}

.calculator {
  align-content: center;
  height: 350px;
  margin: auto;
  width: 350px;
}

.button {
  color: black;
  height: 59px;
  width: 25%;
}

.equals-button {
  color: gray;
  height: 60px;
  width: 100%;
}

.row {
  display: block;
  height: auto;
  width: auto;
}

.screen {
  background-color: lightgray;
  height: 15%;
}

.screen-p {
  text-align: right;
  font-size: large;
}